@import url(font-awesome.min.css);
@font-face {
  font-family: "Geometria";
  src: url(../fonts/Geometria-Light.otf); }

* {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none; }

input, textarea {
  padding: 0;
  border: 0;
  white-space: normal;
  background: none;
  line-height: 1;
  box-sizing: border-box;
  outline: none; }
  input:focus, textarea:focus {
    outline: none; }

body {
  min-width: 1170px; }

.container {
  margin: 0 auto;
  width: 1170px;
  box-sizing: border-box; }

header {
  position: relative;
  z-index: -2; }
  header .extra-element {
    position: absolute;
    display: block;
    bottom: 0px;
    transform-origin: bottom left; }
    header .extra-element#extra1 {
      transform: scale(1, 0.15); }
    header .extra-element#extra2 {
      transform: scale(0.3, 0.3); }
  header.services-header {
    min-height: 600px;
    background-image: url(../assets/servicesheader_bg-min.png);
    background-size: cover;
    background-position: center center; }
    header.services-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px; }
      header.services-header nav .logo-wrap {
        max-width: 502px; }
        header.services-header nav .logo-wrap .logo {
          width: 100%; }
      header.services-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
    header.services-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header.services-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px; }
      header.services-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 26px;
        font-variant: small-caps; }
  header.about-header {
    min-height: 650px;
    background-image: url(../assets/aboutheader_bg-min.png);
    background-size: cover;
    background-position: center top; }
    header.about-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px; }
      header.about-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        flex: 1;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
      header.about-header nav a.logo-wrap {
        max-width: 500px;
        flex: 2; }
        header.about-header nav a.logo-wrap .logo {
          width: 80%;
          display: block;
          margin: 0 auto; }
    header.about-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      margin-left: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-shadow: 1px 1px 2px #4f4f4f; }
      header.about-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px;
        font-weight: 100; }
      header.about-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        text-align: right;
        font-size: 18px;
        font-variant: small-caps; }
  header.main-header {
    height: 100vh;
    min-height: 940px;
    background-image: url(../assets/mainheader_bg-min.png);
    background-size: cover;
    background-position: center top; }
    header.main-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px; }
      header.main-header nav .logo-wrap {
        max-width: 502px; }
        header.main-header nav .logo-wrap .logo {
          width: 100%; }
      header.main-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        letter-spacing: .5px;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
    header.main-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header.main-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px;
        font-weight: 100; }
      header.main-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 26px;
        font-variant: small-caps; }

section h2 {
  text-align: center;
  color: #4f4f4f; }

section p.section-quote {
  text-align: center;
  color: #929292; }

section.services-section .container {
  padding-top: 5%;
  padding-bottom: 12%;
  overflow-x: hidden; }
  section.services-section .container .service-wrap {
    margin-top: 100px;
    display: flex;
    justify-content: space-between; }
    section.services-section .container .service-wrap .service {
      max-width: 30%;
      padding: 20px;
      box-sizing: border-box;
      border-top: solid 2px #9E9E9E;
      border-bottom: solid 2px #9E9E9E; }
      section.services-section .container .service-wrap .service .price {
        text-align: center;
        font-size: 1.8em;
        color: #ED4009; }
      section.services-section .container .service-wrap .service .service-list {
        list-style: none; }
        section.services-section .container .service-wrap .service .service-list li {
          margin: 10px auto;
          text-align: center;
          color: #929292;
          width: 90%;
          font-size: .9em; }
          section.services-section .container .service-wrap .service .service-list li:first-child {
            font-size: 1.2em;
            color: #4f4f4f;
            width: 100%; }
      section.services-section .container .service-wrap .service .service-info {
        font-size: .9em; }

section.services-section .service-extra {
  padding: 10px;
  font-size: .8em;
  color: #929292; }

section.services-section .service-special h2 {
  margin-top: 50px;
  margin-bottom: 50px; }

section.team-section .container {
  overflow-x: hidden;
  padding: 20px 150px 40px 150px;
  z-index: 10; }
  section.team-section .container p.section-intro {
    margin: 5% auto;
    color: #4f4f4f;
    text-align: justify;
    font-size: 16px;
    text-indent: 20px; }

section.team-section .person {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-content: center; }
  section.team-section .person-left::before {
    transform: matrix(1, -0.05, 0, 1.2, 0, 0); }
  section.team-section .person-right::before {
    transform: matrix(1, 0.05, 0, 1.2, 0, 0); }
  section.team-section .person-left::before, section.team-section .person-right::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #f8f8f8; }
  section.team-section .person .person-name {
    color: #4f4f4f;
    font-family: "Geometria", serif; }
  section.team-section .person .person-status {
    color: #F3CFBD;
    text-transform: uppercase;
    font-family: "Geometria", serif;
    font-size: .7em;
    letter-spacing: .3em;
    margin: 10px; }
    section.team-section .person .person-status:after {
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      margin: 15px auto 15px auto;
      background-color: #F3CFBD; }
  section.team-section .person .person-info {
    display: flex;
    margin-top: 40px;
    height: 400px;
    justify-content: space-around; }
    section.team-section .person .person-info-right .person-img {
      order: 2; }
    section.team-section .person .person-info-right .person-text {
      order: 1; }
    section.team-section .person .person-info-left .person-img {
      order: 1; }
    section.team-section .person .person-info-left .person-text {
      order: 2; }
    section.team-section .person .person-info .person-img {
      display: block;
      width: 30%;
      min-height: auto;
      max-height: 500px;
      background-size: cover; }
    section.team-section .person .person-info .person-text {
      width: 50%;
      display: flex;
      flex-direction: column; }
      section.team-section .person .person-info .person-text .person-quote {
        text-align: justify;
        color: #929292;
        text-indent: 20px;
        font-style: italic;
        font-size: 16px; }

section.team-section .quote-spacing {
  height: 600px;
  background-size: cover;
  background-position: center left; }
  section.team-section .quote-spacing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
  section.team-section .quote-spacing .quote {
    max-width: 400px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: rgba(108, 108, 108, 0.5); }
    section.team-section .quote-spacing .quote-left {
      align-self: flex-start; }
    section.team-section .quote-spacing .quote-right {
      align-self: flex-end; }
    section.team-section .quote-spacing .quote::before {
      position: absolute;
      content: "";
      display: block;
      width: 25%;
      height: 40%;
      top: 0;
      left: 0;
      border-left: solid 10px #343434;
      border-top: solid 4px #343434; }
    section.team-section .quote-spacing .quote::after {
      position: absolute;
      content: "";
      display: block;
      width: 25%;
      height: 40%;
      right: 0;
      bottom: 0;
      border-right: solid 10px #343434;
      border-bottom: solid 4px #343434; }
    section.team-section .quote-spacing .quote p {
      color: #fdfdfd;
      text-align: justify;
      font-size: 14px;
      font-style: italic;
      text-indent: 36px; }
      section.team-section .quote-spacing .quote p big {
        font-size: 16px;
        font-weight: 600;
        font-style: normal; }

section.portfolio-section .container {
  padding-top: 5%;
  padding-bottom: 12%;
  overflow-x: hidden; }
  section.portfolio-section .container h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #F3CFBD;
    margin: 15px auto; }
  section.portfolio-section .container .portfolio-slide {
    margin-top: 5%;
    display: flex;
    position: relative;
    width: 200%;
    height: auto;
    left: 0;
    transition: all .4s ease-in-out; }
    section.portfolio-section .container .portfolio-slide:after {
      content: "";
      display: block;
      clear: both; }
  section.portfolio-section .container .portfolio-container {
    width: 50%; }
    section.portfolio-section .container .portfolio-container .img-unit {
      float: left;
      display: block;
      overflow: hidden;
      position: relative;
      background-size: cover;
      width: 33%;
      padding-top: 20%;
      cursor: pointer; }
      section.portfolio-section .container .portfolio-container .img-unit .img-overlay {
        background-color: rgba(79, 79, 79, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity .1s linear; }
        section.portfolio-section .container .portfolio-container .img-unit .img-overlay .overlay-wrap {
          position: relative; }
          section.portfolio-section .container .portfolio-container .img-unit .img-overlay .overlay-wrap p {
            color: #fdfdfd;
            font-size: 26px;
            font-weight: bold;
            font-variant: small-caps; }
          section.portfolio-section .container .portfolio-container .img-unit .img-overlay .overlay-wrap ul {
            position: absolute;
            right: 0;
            display: block;
            list-style: none;
            text-align: right;
            color: #fdfdfd;
            font-size: 12px;
            font-weight: 100; }
            section.portfolio-section .container .portfolio-container .img-unit .img-overlay .overlay-wrap ul li {
              width: 100%; }
      section.portfolio-section .container .portfolio-container .img-unit:hover .img-overlay {
        opacity: 1; }
  section.portfolio-section .container .spec-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    section.portfolio-section .container .spec-container .img-spec {
      max-width: 50%; }
    section.portfolio-section .container .spec-container .spec-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 40%; }
      section.portfolio-section .container .spec-container .spec-wrap h3 {
        text-align: center;
        color: #4f4f4f; }
      section.portfolio-section .container .spec-container .spec-wrap p {
        margin-top: 5%;
        color: #929292;
        text-indent: 36px;
        line-height: 1.2; }

section.quotes-section {
  background-image: url(../assets/quotes_bg.png);
  background-size: cover;
  background-position: center top; }
  section.quotes-section .container {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    section.quotes-section .container .quote {
      width: 25%;
      text-align: center; }
      section.quotes-section .container .quote .quote-img {
        max-width: 200px;
        clip-path: circle(60px at center); }
      section.quotes-section .container .quote .extra-quote-element {
        display: block;
        color: #c14e27;
        font-size: 76px;
        font-family: Arial, sans-serif;
        font-weight: bold; }
      section.quotes-section .container .quote .quote-text {
        margin-top: 5%;
        color: #4f4f4f;
        font-style: italic; }
      section.quotes-section .container .quote .quote-author {
        margin-top: 5%;
        color: #4f4f4f;
        font-style: normal;
        font-weight: bold; }

section.dates-section {
  background-color: #f6f6f6; }
  section.dates-section .container {
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    section.dates-section .container .date-wrap {
      display: flex;
      flex-direction: column;
      max-width: 40%; }
      section.dates-section .container .date-wrap .date-title {
        text-align: center; }
      section.dates-section .container .date-wrap .date-text {
        margin-top: 5%;
        text-align: center; }

section.feedback-section {
  min-height: 400px;
  background-color: #4f4f4f; }
  section.feedback-section .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.feedback-section .container h2 {
      margin-top: 50px;
      text-align: center;
      color: #fdfdfd; }
    section.feedback-section .container .contact-wrap {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      section.feedback-section .container .contact-wrap .contacts {
        width: 100%; }
        section.feedback-section .container .contact-wrap .contacts .contact-title {
          color: #d47555; }
        section.feedback-section .container .contact-wrap .contacts .contact-info {
          list-style: none;
          display: flex;
          margin: 50px;
          justify-content: space-around;
          color: #fdfdfd;
          line-height: 1.5em;
          font-style: italic; }
          section.feedback-section .container .contact-wrap .contacts .contact-info li {
            display: flex;
            align-items: center;
            font-size: 22px; }
            section.feedback-section .container .contact-wrap .contacts .contact-info li i {
              font-size: 36px;
              margin: 5px; }
      section.feedback-section .container .contact-wrap .contact-form {
        width: 100%; }
        section.feedback-section .container .contact-wrap .contact-form #msgform {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          section.feedback-section .container .contact-wrap .contact-form #msgform textarea {
            resize: none; }
          section.feedback-section .container .contact-wrap .contact-form #msgform input, section.feedback-section .container .contact-wrap .contact-form #msgform textarea {
            width: 100%;
            display: block;
            border-bottom: solid 2px #fdfdfd;
            margin-top: 20px;
            padiing-top: 10px;
            padding-bottom: 10px;
            color: #929292;
            font-size: 16px;
            font-weight: bold;
            font-style: italic; }
            section.feedback-section .container .contact-wrap .contact-form #msgform input[type="submit"], section.feedback-section .container .contact-wrap .contact-form #msgform textarea[type="submit"] {
              width: 30%;
              padding: 10px;
              border: none;
              background-color: #d47555;
              color: #fdfdfd;
              font-size: 16px;
              font-weight: bolder;
              font-style: normal; }

footer {
  min-height: 60px;
  background-color: #18191b; }
  footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .container .copyright {
      color: #fdfdfd; }
    footer .container .social-wrap {
      width: 15%;
      padding: 4%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container .social-wrap a {
        color: #fdfdfd;
        font-size: 24px; }
