@import url(font-awesome.min.css);
@font-face {
  font-family: "Geometria";
  src: url(../fonts/Geometria-Light.otf); }

* {
  font-family: "Geometria", sans-serif;
  margin: 0;
  text-decoration: none; }

input, textarea {
  padding: 0;
  border: 0;
  white-space: normal;
  background: none;
  line-height: 1;
  box-sizing: border-box;
  outline: none; }
  input:focus, textarea:focus {
    outline: none; }

body {
  min-width: 1170px; }

.container {
  margin: 0 auto;
  width: 1170px; }

header {
  position: relative; }
  header .extra-element {
    position: absolute;
    display: block;
    bottom: 0px;
    transform-origin: bottom left; }
    header .extra-element#extra1 {
      transform: scale(1, 0.15); }
    header .extra-element#extra2 {
      transform: scale(0.3, 0.3); }
  header.services-header {
    min-height: 600px;
    background-image: url(../assets/servicesheader_bg-min.png);
    background-size: cover;
    background-position: center center; }
    header.services-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px; }
      header.services-header nav .logo-wrap {
        max-width: 502px; }
        header.services-header nav .logo-wrap .logo {
          width: 100%; }
      header.services-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
    header.services-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header.services-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px; }
      header.services-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 26px;
        font-variant: small-caps; }
  header.about-header {
    min-height: 600px;
    background-image: url(../assets/aboutheader_bg-min.png);
    background-size: cover;
    background-position: center top; }
    header.about-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px; }
      header.about-header nav .logo-wrap {
        max-width: 502px; }
        header.about-header nav .logo-wrap .logo {
          width: 100%; }
      header.about-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
    header.about-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      margin-left: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header.about-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px; }
      header.about-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 26px;
        font-variant: small-caps; }
  header.main-header {
    height: 100vh;
    min-height: 940px;
    background-image: url(../assets/mainheader_bg-min.png);
    background-size: cover;
    background-position: center top; }
    header.main-header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px; }
      header.main-header nav .logo-wrap {
        max-width: 502px; }
        header.main-header nav .logo-wrap .logo {
          width: 100%; }
      header.main-header nav a.main-link {
        display: block;
        width: 20%;
        text-align: center;
        letter-spacing: .5px;
        color: #fdfdfd;
        font-size: 16px;
        font-weight: bolder;
        font-variant: small-caps; }
    header.main-header .slogan {
      padding-top: 10%;
      max-width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header.main-header .slogan h1 {
        text-transform: uppercase;
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 64px; }
      header.main-header .slogan span {
        color: #fdfdfd;
        align-self: flex-end;
        font-size: 26px;
        font-variant: small-caps; }

section h2 {
  text-align: center;
  color: #4f4f4f; }

section p.section-quote {
  text-align: center;
  color: #929292; }

section.services-section .container {
  padding-top: 5%;
  padding-bottom: 12%;
  overflow-x: hidden; }
  section.services-section .container .service-wrap {
    display: flex;
    justify-content: space-around; }

section.team-section .container {
  padding-top: 5%;
  padding-bottom: 12%;
  overflow-x: hidden; }
  section.team-section .container p.section-intro {
    margin: 5% auto;
    color: #4f4f4f;
    text-align: justify;
    font-size: 18px;
    text-indent: 20px; }

section.team-section .person {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%; }
  section.team-section .person .person-img {
    display: block; }
  section.team-section .person .person-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section.team-section .person .person-info .person-name {
      color: #4f4f4f;
      text-transform: uppercase;
      font-family: serif; }
    section.team-section .person .person-info .person-status {
      color: #c14e27;
      text-transform: uppercase;
      font-family: serif; }
    section.team-section .person .person-info .person-quote {
      text-align: justify;
      color: #4f4f4f;
      text-indent: 20px;
      font-style: italic;
      font-size: 18px; }
  section.team-section .person-right .person-img {
    order: 2; }
  section.team-section .person-right .person-info {
    order: 1; }
  section.team-section .person-left .person-img {
    order: 1; }
  section.team-section .person-left .person-info {
    order: 2; }

section.portfolio-section .container {
  padding-top: 5%;
  padding-bottom: 12%;
  overflow-x: hidden; }
  section.portfolio-section .container .portfolio-slide {
    margin-top: 5%;
    display: flex;
    position: relative;
    width: 200%;
    height: auto;
    left: 0;
    transition: all .4s ease-in-out; }
    section.portfolio-section .container .portfolio-slide:after {
      content: "";
      display: block;
      clear: both; }
  section.portfolio-section .container .portfolio-container {
    width: 50%; }
    section.portfolio-section .container .portfolio-container .img-unit {
      float: left;
      display: block;
      overflow: hidden;
      position: relative;
      background-size: cover;
      width: 33%;
      padding-top: 20%;
      cursor: pointer; }
      section.portfolio-section .container .portfolio-container .img-unit .img-overlay {
        background-color: rgba(79, 79, 79, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: opacity .1s linear; }
        section.portfolio-section .container .portfolio-container .img-unit .img-overlay p {
          margin: auto 0;
          color: #fdfdfd;
          font-size: 24px;
          font-weight: bold;
          font-variant: small-caps; }
      section.portfolio-section .container .portfolio-container .img-unit:hover .img-overlay {
        opacity: 1; }
  section.portfolio-section .container .spec-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    section.portfolio-section .container .spec-container .img-spec {
      max-width: 50%; }
    section.portfolio-section .container .spec-container .spec-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 40%; }
      section.portfolio-section .container .spec-container .spec-wrap h3 {
        text-align: center;
        color: #4f4f4f; }
      section.portfolio-section .container .spec-container .spec-wrap p {
        margin-top: 5%;
        color: #929292;
        text-indent: 36px;
        line-height: 1.2; }

section.quotes-section {
  background-image: url(../assets/quotes_bg.png);
  background-size: cover;
  background-position: center top; }
  section.quotes-section .container {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    section.quotes-section .container .quote {
      width: 25%;
      text-align: center; }
      section.quotes-section .container .quote .quote-img {
        max-width: 200px;
        clip-path: circle(60px at center); }
      section.quotes-section .container .quote .extra-quote-element {
        display: block;
        color: #c14e27;
        font-size: 76px;
        font-family: Arial, sans-serif;
        font-weight: bold; }
      section.quotes-section .container .quote .quote-text {
        margin-top: 5%;
        color: #4f4f4f;
        font-style: italic; }
      section.quotes-section .container .quote .quote-author {
        margin-top: 5%;
        color: #4f4f4f;
        font-style: normal;
        font-weight: bold; }

section.dates-section {
  background-color: #f6f6f6; }
  section.dates-section .container {
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    section.dates-section .container .date-wrap {
      display: flex;
      flex-direction: column;
      max-width: 40%; }
      section.dates-section .container .date-wrap .date-title {
        text-align: center; }
      section.dates-section .container .date-wrap .date-text {
        margin-top: 5%;
        text-align: center; }

footer {
  min-height: 400px;
  background-color: #4f4f4f; }
  footer .container {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .container h2 {
      text-align: center;
      color: #fdfdfd; }
    footer .container .contact-wrap {
      margin-top: 4%;
      width: 70%;
      display: flex;
      justify-content: space-around; }
      footer .container .contact-wrap .contacts {
        width: 80%;
        display: flex;
        justify-content: space-around; }
        footer .container .contact-wrap .contacts .contact-title {
          color: #d47555; }
        footer .container .contact-wrap .contacts .contact-info {
          color: #fdfdfd;
          line-height: 1.5em;
          font-style: italic; }
      footer .container .contact-wrap .contact-form {
        width: 40%;
        display: none; }
        footer .container .contact-wrap .contact-form #msgform {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          footer .container .contact-wrap .contact-form #msgform textarea {
            resize: none; }
          footer .container .contact-wrap .contact-form #msgform input, footer .container .contact-wrap .contact-form #msgform textarea {
            width: 100%;
            display: block;
            border-top: solid 2px #fdfdfd;
            border-bottom: solid 2px #fdfdfd;
            color: #929292;
            font-size: 16px;
            font-weight: bold;
            font-style: italic; }
            footer .container .contact-wrap .contact-form #msgform input[type="submit"], footer .container .contact-wrap .contact-form #msgform textarea[type="submit"] {
              width: 50%;
              padding: 10px;
              border: none;
              background-color: #d47555;
              color: #fdfdfd;
              font-size: 16px;
              font-weight: bolder;
              font-style: normal; }
  footer .social-wrap {
    width: 15%;
    padding: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .social-wrap a {
      color: #fdfdfd;
      font-size: 24px; }
