@import "_vars"
@import "_reset"
@import "font-awesome.min.css"

body
  min-width: 1170px

.container
  margin: 0 auto
  width: 1170px

header
  position: relative

  .extra-element
    position: absolute
    display: block
    bottom: 0px
    transform-origin: bottom left

    &#extra1
      transform: scale(1, .15)

    &#extra2
      transform: scale(.3, .3)
  
  &.about-header
    min-height: 600px
    background:
      image: url(../assets/aboutheader_bg.png)
      size: cover
      position: center top

    nav
      display: flex
      justify-content: space-around
      align-items: center
      padding: 10px

      .logo-wrap
        max-width: 502px

        .logo
          width: 100%

      a
        &.main-link
          display: block
          width: 20%
          text-align: center

          color: $text-color-light
          font:
            size: 16px
            weight: bolder
            variant: small-caps
    
    .slogan
      padding-top: 10%
      max-width: 50%
      height: 100%
      margin-left: 30%
      display: flex
      flex-direction: column
      justify-content: space-around
      
      h1
        text-transform: uppercase
        color: $text-color-light
        align-self: flex-end
        font:
          size: 64px

      span
        color: $text-color-light
        align-self: flex-end
        font:
          size: 26px
          variant: small-caps


  &.main-header
    height: 100vh
    min-height: 940px
    background:
      image: url(../assets/mainheader_bg.png)
      size: cover
      position: center top

    nav
      display: flex
      justify-content: space-around
      align-items: center
      padding: 10px

      .logo-wrap
        max-width: 502px

        .logo
          width: 100%

      a
        &.main-link
          display: block
          width: 20%
          text-align: center
          letter-spacing: .5px

          color: $text-color-light
          font:
            size: 16px
            weight: bolder
            variant: small-caps

    .slogan
      padding-top: 10%
      max-width: 50%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-around
      
      h1
        text-transform: uppercase
        color: $text-color-light
        align-self: flex-end
        font:
          size: 64px

      span
        color: $text-color-light
        align-self: flex-end
        font:
          size: 26px
          variant: small-caps

section
  h2
    text-align: center
    color: $text-color-dark

  p.section-quote
    text-align: center
    color: $text-color-semidark
  
  &.team-section
    .container
      padding-top: 5%
      padding-bottom: 12%
      overflow-x: hidden

      p.section-intro
        margin: 5% auto
        color: $text-color-dark
        text-align: justify
        font-size: 18px
        text-indent: 20px

    .person
      padding-left: 5%
      padding-right: 5%
      display: flex
      justify-content: space-around
      margin-top: 5%

      .person-img
        display: block

      
      .person-info
        width: 60%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .person-name
          color: $text-color-dark
          text-transform: uppercase
          font-family: serif

        .person-status
          color: $text-color-accent
          text-transform: uppercase
          font-family: serif

        .person-quote
          text-align: justify
          color: $text-color-dark
          text-indent: 20px
          font:
            style: italic
            size: 18px

      &-right
        .person-img
          order: 2

        .person-info
          order: 1

      &-left
        .person-img
          order: 1

        .person-info
          order: 2

  &.portfolio-section
    .container
      padding-top: 5%
      padding-bottom: 12%
      overflow-x: hidden

      .portfolio-slide
        margin-top: 5%
        display: flex
        position: relative
        width: 200%
        height: auto
        left: 0
        transition: all .4s ease-in-out

        &:after
          content: ""
          display: block
          clear: both

      .portfolio-container
        width: 50%

        .img-unit
          float: left
          display: block
          overflow: hidden
          position: relative
          background-size: cover
          width: 33%
          padding-top: 20%
          cursor: pointer

          .img-overlay
            background-color: fade-out($fade-color, 0.5)
            position: absolute
            height: 100%
            width: 100%
            top: 0
            opacity: 0
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            transition: opacity .1s linear
            
            p
              margin: auto 0
              color: $text-color-light
              font:
                size: 24px
                weight: bold
                variant: small-caps

          &:hover .img-overlay
            opacity: 1

      .spec-container
        width: 50%
        display: flex
        align-items: center
        justify-content: space-around
        
        .img-spec
          max-width: 50%

        .spec-wrap
          display: flex
          flex-direction: column
          justify-content: center
          height: 100%
          width: 40%

          h3
            text-align: center
            color: $text-color-dark

          p
            margin-top: 5%
            color: $text-color-semidark
            text-indent: 36px
            line-height: 1.2

  &.quotes-section
    background:
      image: url(../assets/quotes_bg.png)
      size: cover
      position: center top

    .container
      padding-top: 5%
      padding-bottom: 5%
      display: flex
      justify-content: space-around
      align-items: center

      .quote
        width: 25%
        text-align: center

        .quote-img
          max-width: 200px
          clip-path: circle(60px at center)

        .extra-quote-element
          display: block
          color: $text-color-accent
          font:
            size: 76px
            family: Arial, sans-serif
            weight: bold
        
        .quote-text
          margin-top: 5%
          color: $text-color-dark
          font: 
            style: italic

        .quote-author
          margin-top: 5%
          color: $text-color-dark
          font: 
            style: normal
            weight: bold

  &.dates-section
    background-color: $bg-color-semidark

    .container
      padding-top: 10%
      padding-bottom: 10%
      display: flex
      justify-content: space-around
      align-items: center

      .date-wrap
        display: flex
        flex-direction: column
        max-width: 40%

        .date-title
          text-align: center

        .date-text
          margin-top: 5%
          text-align: center

footer
  min-height: 458px
  background-color: $bg-color-dark

  .container
    padding-top: 5%
    display: flex
    flex-direction: column
    align-items: center

    h2
      text-align: center
      color: $text-color-light

    .contact-wrap
      margin-top: 5%
      width: 70%
      display: flex
      justify-content: space-around

      .contacts
        width: 40%

        .contact-title
          color: $text-color-lightaccent

        .contact-info
          color: $text-color-light
          line-height: 1.5em
          font-style: italic

      .contact-form
        width: 40%

        #msgform
          width: 100%
          height: 100%
          display: flex
          flex-direction: column
          align-items: center
          justify-content: space-between

          textarea
            resize: none
          
          input, textarea
            width: 100%
            display: block
            border-top: solid 2px $text-color-light
            border-bottom: solid 2px $text-color-light
            color: $text-color-semidark
            font:
              size: 16px
              weight: bold
              style: italic

            &[type="submit"]
              width: 50%
              padding: 10px
              border: none
              background-color: $bg-color-lightaccent
              color: $text-color-light
              font:
                size: 16px
                weight: bolder
                style: normal

  .social-wrap
    width: 15%
    padding: 5%
    display: flex
    justify-content: space-around
    align-items: center

    a
      color: $text-color-light
      font-size: 24px
